header{

    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 100px;


}



.intro{
    background-image: url("/image/cybrella.png");
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    background-attachment: fixed;
    padding-top: 50px;
    
    
    
    

    
}
.neilit{
    height: 50px;
}

h1 {
    font-size: x-large;
    font-family: "Modern Antiqua", serif;
    font-weight: 400;
    font-style: normal;

}

h2{
    font-size: larger;
    font-family: "Modern Antiqua", serif;
    font-weight: 400;
    font-style: normal;
}

BODY{
    background-color: rgba(255, 255, 255, 0);
 
}

.block1{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.384);
    padding-top: 45px;
}



p{
    font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
}



.hidden{
    opacity: 0;
    filter: blur(5px);
    transform:translateX(-100%);
    transition: all 1s;
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}


.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


.col:nth-child(2){
    transition-delay: 200ms;
}
.col:nth-child(3){
    transition-delay: 400ms;
}.col:nth-child(4){
    transition-delay: 600ms;
}
.col:nth-child(5){
    transition-delay: 800ms;
}.col:nth-child(6){
    transition-delay: 1000ms;
}
.col:nth-child(7){
    transition-delay: 1200ms;
}